body {
    background-color: lightblue;
}
h1 {
    color: blueviolet;
}
.box{
    background-color: blueviolet;
    width: 200px;
    height:200px;
    padding:20px;
    margin: 50px;
    border: 4px solid darksalmon;
}