<nav
  class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 start-0 border-b border-purple-700 dark:border-gray-600"
>
  <div class="fixed ">
    <a routerLink="new-games" class="flex items-center space-x-3 rtl:space-x-reverse">
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
        >New</span
      >
    </a>

    <div class="items-center justify-between">
      <ul
        class="flex p-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
      >
        <li>
          <a
            routerLink="old-games"
            class= "text-lg font-medium text-gray-900 dark:text-white"
            aria-current="page"
            >Old</a
          >
        </li>
        <li>
          <a
            routerLink=""
            class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500"
            aria-current="page"
            >Game Comments</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>



<h1 class="text-3xl font-bold underline"></h1>

<router-outlet></router-outlet>
<app-reply-list></app-reply-list>
