<div class="row">
  <div class="col-md-12"></div>
  <h2>Book Title</h2>
</div>
<div class="row">
  <div class="col-md-12"></div>
  <h3>Author</h3>
</div>
<div class="row">
  <div class="col-md-12"></div>
  <p>Genre</p>
</div>
<div class="row">
  <div class="col-md-12"></div>
  <img src="" alt="" class="img-responsive">
</div>
<hr>
<div class="row">
  <div class="col-md-12"></div>
<small>Tags</small>
</div>

<div class="row">
  <div class="col-md-12">
    <button type="button"></button>
  </div>

</div>
